:root {
  --body-width: 1080px;
  --h1-size: 7.2rem;
  --h2-size: 4.8rem;
  --h3-size: 3.2rem;
  --h4-size: 2.2rem;
  --h5-size: 1.8rem;
  --primary1: #9add9c;
  --primary2: #64a365;
  --primary3: #446d45;
  --darker-green: hsl(141deg 39.64% 23.54%);
  --secondary1: #9bd8f2;
  --secondary2: #34bae4;
  --secondary3: #1C7CA6;
  --accent1: #ffe279;
  --accent2: #f0c425;
  --accent3: #d1a700;
  --gray700: #343734;
  --gray900: #1f201e;
  --dark-green: rgb(27, 39, 27);
  --brown: #2a200d;
  --border-radius: 2.5px;
  --body-font: 'Montserrat', sans-serif;
  --heading-font: "Permanent Marker", cursive;
  --body-color: var(--primary2);
  --shadow-light: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-medium: 6px 6px 6px 0 rgba(0, 0, 0, 0.5);
}
/*#region base*/
* {
  box-sizing: border-box !important;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media all and (max-width: 800px) {
  html {
    font-size: 56.25%;
  }
}

:root:has(.no-document-scroll) {
  overflow: hidden;
}

body {
  font-size: 1.7rem;
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
}

main {
  width: 100%;
  position: relative;
}
img {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--heading-font);
}

h1,
.h1 {
  font-size: var(--h1-size);
}

h2,
.h2 {
  font-size: var(--h2-size);
}

h3,
.h3 {
  font-size: var(--h3-size);
}

h4,
.h4 {
  font-family: var(--body-font);
  font-size: var(--h4-size);
  font-weight: bold;
}

h5,
.h5 {
  font-family: var(--body-font);
  font-size: var(--h5-size);
  font-weight: bold;
}

p {
  line-height: 1.7;
}

input,
textarea {
  all: unset;
  background-color: rgb(227, 227, 227);
  border-radius: 4px;
  color: black;
}

input {
  padding: 0 0.625em;
  height: 4rem;
}
textarea {
  padding: 0.625em;
}

button {
  min-width: 200px;
  font-family: var(--body-font);
  font-size: 14px;
  border: none;
  color: #000;
  background-color: var(--accent2);
  padding: 1.2rem 3rem;
  box-shadow: var(--shadow-light);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: var(--border-radius);
}
button,
[role='button']:hover {
  cursor: pointer;
}
button:hover {
  background-color: var(--accent3);
}
button, a {
  transition-property: color, background-color;
  transition-duration: 200ms;
}
a, a:visited {
  color: var(--secondary3);
}
.dark a, .dark a:visited {
  color: var(--secondary1);
}
a:hover, a:focus, .dark a:hover, .dark a:focus {
  color: var(--secondary2);
}


/*#endregion base*/

/*#region layout helper*/
.body-width {
  max-width: var(--body-width);
  margin: auto;
  padding: 0 16px;
}

.section {
  padding-top: 8rem;
}
.section-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-heading-text {
  text-align: center;
  color: white;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
.section-heading-text:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 110%;
  background-color: var(--accent1);
  border-radius: var(--border-radius);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sil {
  mask: url(thin_rip.png);
  mask-size: 100%;
  mask-repeat: repeat-x;
  mask-position: 50% 0;
  width: 100%;
}

/*#endregion layout helper*/

/* .section {
  background-image: url(./noise4.png);
  background-repeat: repeat;
  background-size: 331px 180px;
} */

/*#region nav*/
nav {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  font-size: var(--h4-size);
}

.nav-list > li > a {
  color: white;
  font-family: var(--heading-font);
  text-decoration: none;
}

.home-img {
  max-width: 10rem;
  margin-right: auto;
}
/*#endregion nav*/

/*#region hero*/
.hero-section {
  padding-top: 100px; /* to allow for the nav*/
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}
.hero__bg {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* base color */
.hero-section__bg0 {
  background-color: rgb(29, 137, 174);
}
/* horizon sunrise fade */
.hero-section__bg1 {
  background: linear-gradient(#1d89ae 0%, #1d89ae 20%, #fbd37b 70%);
  opacity: 0.9;
}

/* sun */
.hero-section__bg2 {
  background: radial-gradient(
    circle,
    rgba(255, 250, 204, 1) 0%,
    rgba(255, 245, 189, 1) 20%,
    rgba(251, 202, 92, 1) 30%,
    rgba(70, 149, 159, 0) 70%
  );
  height: 100vw;
  right: -40vw;
  opacity: 0.9;
  top: 70%;
  transform: translateY(-50%);
}

/* mountains */
.hero-section__bg3 {
  background: url(mountains-darker.png);
  background-size: contain;
  top: unset;
  bottom: -1px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

@media all and (max-width: 1000px) {
  .hero-section__bg3 {
    background-size: 200%;
    background-position-x: 70%;
  }
}
@media all and (max-width: 600px) {
  .hero-section__bg3 {
    background-size: 280%;
    background-position-x: 80%;
  }

  .hero-section__bg2 {
    top: 65%;
  }
}

.hero-text {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
@media all and (max-width: 600px) {
  .hero-text {
    flex-direction: column;
  }
}

.hero-text__sub {
  font-family: var(--body-font);
  max-width: max(80%, 300px);
}

#home {
  min-width: 50%;
  margin-top: 4rem;
}

.self-image-container {
  border-radius: 50%;
  flex-shrink: 1;
  overflow: hidden;
  height: 50%;
  border: 10px solid black;
  /* box-shadow: 0px 0px 30px 4px #eed17c;
  background: rgb(239 217 142 / 60%); */
}
@media all and (max-width: 600px) {
  .self-image-container {
    width: 80%;
    margin: auto;
  }
}

.self-image {
  /* height: 100%; */
  position: relative;
  bottom: -10px;
}
/*#endregion hero*/

/*#region what*/
#forest-image{
  position: relative;
  bottom: -10px;
  margin-top: -20rem;
}
.forest {
  margin-top: -20rem;
  width: 100%;
  padding-bottom: 30%; /* based on forest image aspect ratio */
  mask-image: url(forest.png);
  background-color: var(--darker-green);
}
.what-i-do-section-intro {
  background-color: #061f24;
  margin-bottom: 0rem;
}
.what-i-do-section {
  /* background: linear-gradient(#061f24 0%, #01322a 20%, var(--body-color) 80%); */
  background-color: var(--darker-green);
  /* padding-bottom: 12rem; */
}


.short-intro {
  width: 1000px;
  max-width: 90%;
  margin: auto;
  background-color: white;
  padding: min(7rem, 8vw);
  position: relative;
  z-index: 1;
}

.what-i-do-cards {
  display: flex;
  row-gap: 14rem;
  column-gap: 5rem;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  max-width: 100%;
  padding: 0 3rem;
  justify-content: center;
  margin-top: 5rem;
}
@media all and (max-width: 1200px) {
  .what-i-do-cards {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 800px) {
  .what-i-do-cards {
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    margin-top: 12rem;
  }
}

/* could do a fancy clip path with this, but width responsiveness would be tricky */
.what-i-do-card {
  background-color: #ffffff;
  position: relative;
  padding: 2rem;
  padding-top: 0rem;
  flex-basis: 33.3333%;
  flex-grow: 1;
  max-width: 500px;
  border-image: url('paper border.png') 70 / 15px / 14px round stretch;
  box-shadow: 16px 16px 7px 9px #0000004a;
}
.what-i-do-card:nth-child(2) {
    border-image-repeat: repeat;
    border-image-slice: 49;
}
.what-i-do-card:nth-child(3) {border-image-slice: 65;border-image-repeat: stretch round;}


.what-i-do-card:before {
  /* content: ''; */
  background-image: url(halfcircle.svg);
  position: absolute;
  width: 100%;
  height: 75px;
  top: 0px;
  background-repeat: no-repeat;
  left: 0;
  transform: translateY(-100%);
  background-position-x: center;
  background-size: cover;
}

.what-i-do-card__img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -118%);
  border-radius: 50%;
  fill: var(--accent1);
  filter: drop-shadow(0px 0px 10px rgba(234, 180, 45, 1)) blur(0.4px);
  /* fill: #061f24; */
}
.what-i-do-card > h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/*#endregion what*/

.section-break {
  text-align: center;
  background-color: var(--dark-green);
  border-top: 3rem solid var(--primary3);
  border-bottom: 3rem solid var(--primary3);
}

.section-break-logo {
  padding: 7rem 2rem;
  height: 50%;
  width: 30rem;
}

/*#region my work*/
.fern {
  min-width: 700px;
  padding-bottom: 22%;
  mask-image: url(ferns.png);
  background-color: var(--primary2);
}

#my-work {
  margin-bottom: 0;
}

.my-work-section {
  overflow-x: clip;
}

.my-work-subsection {
padding: 6rem 0;
}

.my-work-subsection .section-heading {
  position: relative;
  margin-bottom: 5rem;
}
.github-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

#projects .github-link {
  margin-bottom: 5rem;
  position: absolute;
  top: 10px;
  right: 0;
}


.my-work-list {
  display: flex;
  gap: 10rem;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  /* max-width: 900px; */
}
.my-work-list__item {
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  gap: 4rem;
}
.my-work-list__item__header {
  width: 18rem;
}
.my-work-list__item:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 130vw;
  background-color: var(--accent1);
  border-radius: var(--border-radius);
  bottom: -5rem;
  transform: translateX(-50%);
}
.my-work-list__item:last-child:after {
  display: none;
}

.my-work-list__logo-img-container {
  display: flex;
  width: 180px;
  height: 180px;
  background-color: white;
  justify-content: center;
  overflow: hidden;
}

/* .my-work-list__logo-img-container:hover,
.my-work-list__logo-img-container:focus,
.selected > .my-work-list__logo-img-container {
  box-shadow: var(--shadow-medium);
  transform: translate(-2px, -2px);
}
.selected > .my-work-list__logo-img-container {
  border-color: var(--accent1);
} */

.my-work__logo-img {
  object-fit: cover;
  background-color: white;
}

.my-work-subsection.dark {
  background-color: var(--gray700);
  color: white;
}

.my-work-subsection.dark .my-work-list {
  margin-left: auto;
}

.my-work-subsection.dark .my-work-list__item:after {
  transform: translateX(50%);
}

@media all and (min-width: 801px) {
  .my-work-subsection.dark .my-work-list__item {
    flex-direction: row-reverse;
    margin-left: auto;
  }
}
@media all and (max-width: 600px) {
  .my-work-list__item {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

.my-work__infobox-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.my-work__infobox {
  border-radius: var(--border-radius);
  background-color: white;
  border: 10px solid var(--accent1);
  padding: 5rem;
  display: none;
  box-shadow: var(--shadow-light);
  max-width: 920px;
}

.my-work__infobox__heading {
  margin-top: 0.5rem;
  line-height: 1em;
  text-align: center;
  margin-bottom: 0;
}

.my-work__infobox__dates {
  opacity: 0.7;
}

.my-work__links {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.tech-list-title {
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.tech-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: block;
}
.tech-list > li {
  border-radius: var(--border-radius);
  border: 2px solid var(--accent1);
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1.4rem;
}
/*#endregion my work*/

/*#region contact*/
.contact-section {
  padding-top: 12rem;
  padding-bottom: 10rem;
  position: relative;
}

.form-all {
  background-color: var(--gray700);
  font-size: inherit;
  border-radius: var(--border-radius);
}
.form-label {
  color: white;
}

.form-header {
  font-weight: inherit;
  font-size: var(--h3-size);
}

/*#endregion contact*/

/*#region testimonial*/
.rocks {
  min-width: 700px;
  padding-bottom: 7%;
  background-color: var(--gray700);
  margin-left: -1px;
}
.rocks-inverted {
  transform: rotate(180deg);
  transform: scaleY(-1);
  position: absolute;
  top: -1px;
}

.testimonial-section {
  background-color: var(--gray700);
  padding-bottom: 10rem;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  row-gap: 5rem;
  column-gap: 10rem;
}
@media all and (max-width: 1000px) {
  .testimonial-container {
    margin: 0 3rem;
  }
}

blockquote {
  font-size: var(--h4-size);
  color: white;
  flex-grow: 1;
  flex-basis: 45%;
  margin: 0;
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1000px) {
  blockquote {
    max-width: 800px;
  }
}

blockquote::before {
  content: '“';
  font-family: var(--heading-font);
  position: absolute;
  left: -53px;
  top: -25px;
  font-size: 10rem;
  color: var(--accent1);
}

blockquote > footer {
  font-family: var(--heading-font);
  font-size: var(--h5-size);
  color: var(--accent1);
  position: relative;
  margin-left: auto;
}

blockquote > footer::before {
  content: '—';
  left: -20px;
  top: 0;
  position: absolute;
}
/*#endregion testimonial*/

/*#region footer*/
.footer {
  background-color: var(--gray900);
  padding: 6rem 1rem;
}

.footer-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
}

.footer-logo {
  max-width: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
/*#endregion footer*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  z-index: 1000;
  padding: 5rem;
}
.lightbox {
  display: none;
}

#lightbox__interior {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}

#lightbox__interior__img-holder {
  display: flex;
}

.lightbox__img {
  max-height: 100vh;
  margin: auto;
}
.lightbox__arrow {
  position: absolute;
  top: max(50%, 200px);
  width: 11rem;
  padding: 100% 2rem;
  z-index: 1;
}
.lightbox__x {
  position: absolute;
  padding: 2rem;
  top: 0;
  width: 11rem;
  fill: white;
  right: 0;
  z-index: 100;
}

#arrow-left {
  transform: translate(-80%, -50%);
}
#arrow-right {
  transform: translate(80%, -50%);
  right: 0;
}

.visible {
  display: block;
}
