:root {
  --body-width: 1080px;
  --h1-size: 7.2rem;
  --h2-size: 4.8rem;
  --h3-size: 3.2rem;
  --h4-size: 2.4rem;
  --h5-size: 1.8rem;
  --primary1: #9add9c;
  --primary2: #64a365;
  --primary3: #446d45;
  --secondary1: #9bd8f2;
  --secondary2: #34bae4;
  --secondary3: #1e87b4;
  --accent1: #ffe279;
  --accent2: #f0c425;
  --accent3: #d1a700;
  --gray700: #343734;
  --gray900: #171916;
  --body-font: 'Montserrat', sans-serif;
  --heading-font: 'DM Serif Display', serif;
  --body-color: var(--primary2);
}
/*#region base*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1.8rem;
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
}

main {
  width: 100%;
}
img {
  max-width: 100%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
}

h1,
.h1 {
  font-size: var(--h1-size);
}

h2,
.h2 {
  font-size: var(--h2-size);
}

h3,
.h3 {
  font-size: var(--h3-size);
}

h4,
.h4 {
  font-size: var(--h4-size);
}

h5,
.h5 {
  font-size: var(--h5-size);
}

a {
  text-decoration: none;
}

input,
textarea {
  all: unset;
  background-color: rgb(227, 227, 227);
  border-radius: 4px;
  color: black;
}

input {
  padding: 0 0.625em;
  height: 4rem;
}
textarea {
  padding: 0.625em;
}

button {
  min-width: 200px;
  font-family: var(--body-font);
  font-size: inherit;
  cursor: pointer;
  border: none;
  color: #000;
  background-color: var(--accent2);
  padding: 2rem 0;
  box-shadow: 2px 2px 2px 0px #00000059;
}
button:hover {
  background-color: var(--accent3);
}
/*#endregion base*/

/*#region layout helper*/
.body-width {
  max-width: var(--body-width);
  margin: auto;
  padding: 0 16px;
}

.section-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-heading-text {
  text-align: center;
  color: white;
  position: relative;
  margin: auto;
  display: inline-block;
}
.section-heading-text::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 110%;
  background-color: var(--accent1);
  border-radius: 2.5px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

/*#endregion layout helper*/

/*#region nav*/
nav {
  position: absolute;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  font-size: var(--h4-size);
}

.nav-list > li > a {
  color: white;
  font-family: var(--heading-font);
}

.home-img {
  max-width: 10rem;
  margin-right: auto;
}
/*#endregion nav*/

/*#region hero*/
.hero-section {
  padding-top: 100px; /* to allow for the nav*/
  background: linear-gradient(#1d89ae, #fbd37b);
  padding-bottom: 200px;
}

.hero-text {
  margin-top: 5rem;
  display: flex;
}
.hero-text__sub {
  max-width: max(80%, 300px);
}

#home {
  min-width: 50%;
}

.self-image-container {
  border: 5px solid;
  border-radius: 50%;
  flex-shrink: 1;
  overflow: hidden;
}
.self-image {
  height: 100%;
}
/*#endregion hero*/

/*#region what*/
.what-i-do-section {
}

.short-intro {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: 6rem 9rem;
}

.what-i-do-cards {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 16rem;
  gap: 3rem;
}
.what-i-do-card {
  background-color: white;
  position: relative;
  padding: 3rem;
  flex-basis: 33.3333%;
  padding-top: 6rem;
}

.what-i-do-card__img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2rem solid var(--body-color);
  background-color: var(--primary1);
  padding: 1rem;
}
/*#endregion what*/

/*#region my work*/
.my-work-section {
}
/*#endregion my work*/

/*#region contact*/
.contact-section {
}

.form-all {
  background-color: var(--gray700);
  font-size: inherit;
}
.form-label {
  color: white;
}

.form-header {
  font-weight: inherit;
  font-size: var(--h3-size);
}

/*#endregion contact*/

/*#region testimonial*/
.testimonial-section {
  background-color: var(--gray700);
}
/*#endregion testimonial*/

/*#region footer*/
footer {
  background-color: var(--gray900);
  padding: 4rem 1rem;
}

.footer-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
}

.footer-logo {
  max-width: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
/*#endregion footer*/
