:root {
  --body-width: 1080px;
  --h1-size: 7.2rem;
  --h2-size: 4.8rem;
  --h3-size: 3.2rem;
  --h4-size: 2.4rem;
  --h5-size: 1.8rem;
  --primary1: #9add9c;
  --primary2: #64a365;
  --primary3: #446d45;
  --secondary1: #9bd8f2;
  --secondary2: #34bae4;
  --secondary3: #1e87b4;
  --accent1: #ffe279;
  --accent2: #f0c425;
  --accent3: #d1a700;
  --gray700: #343734;
  --gray900: #171916;
  --body-font: 'Montserrat', sans-serif;
  --heading-font: 'DM Serif Display', serif;
  --body-color: var(--primary2);
  --shadow-light: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-medium: 6px 6px 6px 0 rgba(0, 0, 0, 0.5);
}
/*#region base*/
* {
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root:has(.no-document-scroll) {
  overflow: hidden;
}

body {
  font-size: 1.7rem;
  margin: 0;
  font-family: var(--body-font);
  /* background-color: #1e89af; */
  background-color: var(--body-color);
}

main {
  width: 100%;
}
img {
  max-width: 100%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
}

h1,
.h1 {
  font-size: var(--h1-size);
}

h2,
.h2 {
  font-size: var(--h2-size);
}

h3,
.h3 {
  font-size: var(--h3-size);
}

h4,
.h4 {
  font-size: var(--h4-size);
}

h5,
.h5 {
  font-size: var(--h5-size);
}

input,
textarea {
  all: unset;
  background-color: rgb(227, 227, 227);
  border-radius: 4px;
  color: black;
}

input {
  padding: 0 0.625em;
  height: 4rem;
}
textarea {
  padding: 0.625em;
}

button {
  min-width: 200px;
  font-family: var(--body-font);
  font-size: inherit;
  border: none;
  color: #000;
  background-color: var(--accent2);
  padding: 2rem 0;
  box-shadow: var(--shadow-light);
}
button,
[role='button']:hover {
  cursor: pointer;
}
button:hover {
  background-color: var(--accent3);
}
a,
a:visited {
  color: #0091ff;
}

/*#endregion base*/

/*#region layout helper*/
.body-width {
  max-width: var(--body-width);
  margin: auto;
  padding: 0 16px;
}

.section {
  padding-top: 10rem;
}
.section-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-heading-text {
  text-align: center;
  color: white;
  position: relative;
  margin: auto;
  display: inline-block;
  margin-bottom: 1rem;
}
.section-heading-text::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 110%;
  background-color: var(--accent1);
  border-radius: 2.5px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*#endregion layout helper*/

/*#region nav*/
nav {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  font-size: var(--h4-size);
}

.nav-list > li > a {
  color: white;
  font-family: var(--heading-font);
  text-decoration: none;
}

.home-img {
  max-width: 10rem;
  margin-right: auto;
}
/*#endregion nav*/

/*#region hero*/
.hero-section {
  padding-top: 100px; /* to allow for the nav*/
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}
.hero__bg {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* base color */
.hero-section__bg0 {
  background: rgb(29, 137, 174);
}
/* horizon sunrise fade */
.hero-section__bg1 {
  background: linear-gradient(#1d89ae 0%, #1d89ae 20%, #fbd37b 70%);
  opacity: 0.9;
}

/* sun */
.hero-section__bg2 {
  background: radial-gradient(
    circle,
    rgba(255, 250, 204, 1) 0%,
    rgba(255, 245, 189, 1) 20%,
    rgba(251, 202, 92, 1) 30%,
    rgba(70, 149, 159, 0) 70%
  );
  height: 100vw;
  right: -40vw;
  opacity: 0.9;
  top: 70%;
  transform: translateY(-50%);
}

/* mountains */
.hero-section__bg3 {
  background: url(mountains-darker.png);
  background-size: contain;
  top: unset;
  bottom: -1px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

@media all and (max-width: 1000px) {
  .hero-section__bg3 {
    background-size: 200%;
    background-position-x: 70%;
  }
}
@media all and (max-width: 600px) {
  .hero-section__bg3 {
    background-size: 280%;
    background-position-x: 80%;
  }

  .hero-section__bg2 {
    top: 65%;
  }
}

.hero-text {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
@media all and (max-width: 600px) {
  .hero-text {
    flex-direction: column;
  }
}

.hero-text__sub {
  max-width: max(80%, 300px);
}

#home {
  min-width: 50%;
  margin-top: 4rem;
}

.self-image-container {
  border: 10px solid;
  border-radius: 50%;
  flex-shrink: 1;
  overflow: hidden;
  height: 50%;
}
@media all and (max-width: 600px) {
  .self-image-container {
    width: 80%;
    margin: auto;
  }
}

.self-image {
  height: 100%;
}
/*#endregion hero*/

/*#region what*/
.what-i-do-section {
  background: linear-gradient(#061f24 0%, #01322a 20%, var(--body-color) 80%);
}

.short-intro {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: 6rem 9rem;
}

.what-i-do-cards {
  display: flex;
  margin-top: 16rem;
  row-gap: 7rem;
  column-gap: 2rem;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  max-width: 100%;
  padding: 0 2rem;
  justify-content: center;
}
@media all and (max-width: 1000px) {
  .what-i-do-cards {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 800px) {
  .what-i-do-cards {
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }
}

/* could do a fancy clip path with this, but width responsiveness would be tricky */
.what-i-do-card {
  background-color: white;
  position: relative;
  padding: 2rem;
  flex-basis: 33.3333%;
  flex-grow: 1;
  padding-top: 7rem;
  max-width: 400px;
  box-shadow: var(--shadow-light);
}

.what-i-do-card__img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--accent1);
  padding: 1rem;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.45);
}
/*#endregion what*/

.section-break {
  margin-top: 12rem;
  background-color: #28404b;
  text-align: center;
  background-color: hsl(120 19% 13% / 1);
  border-top: 3rem solid var(--primary3);
  border-bottom: 3rem solid var(--primary3);
  /* background-color: var(--gray700); */
}

.section-break-logo {padding: 7rem 2rem;height: 50%;width: 30rem;}

/*#region my work*/
.my-work-section {
  /* background: linear-gradient(var(--body-color) 0%, var(--primary1) 100%); */
}

.my-work-list {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
}
.my-work-list__item {
  position: relative;
}
.my-work-list__item.selected:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--accent1);
}

.my-work-list__logo-img-container {
  border: 5px solid white;
  display: flex;
  width: 150px;
  box-shadow: var(--shadow-light);
  height: 150px;
  background-color: white;
  justify-content: center;
  border: none;
}
.my-work-list__logo-img-container:hover,
.my-work-list__logo-img-container:focus,
.selected > .my-work-list__logo-img-container {
  box-shadow: var(--shadow-medium);
  transform: translate(-2px, -2px);
}
.selected > .my-work-list__logo-img-container {
  border-color: var(--accent1);
}

.my-work__logo-img {
  object-fit: cover;
  background-color: white;
}

.my-work__infobox-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.my-work__infobox {
  background-color: white;
  border: 10px solid var(--accent1);
  padding: 3rem;
  display: none;
  box-shadow: var(--shadow-light);
  max-width: 830px;
}

.my-work__infobox__heading {
  margin-bottom: 1rem;
  line-height: 1em;
}
.my-work__infobox__dates {
  color: #5c645c;
}

.tech-list-title {
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.tech-list {
  list-style: none;
  column-count: auto;
  padding: 0;
  margin-top: 0;
  column-width: 13rem;
}
.tech-list > li {
  margin-bottom: 1rem;
}
.my-work__screenshots {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.my-work__screenshot-container {
}
.my-work__screenshot {
  position: relative;
}
.my-work__screenshot-img {
  max-height: 150px;
  border: 2px solid #c3c3c3;
}
.my-work__screenshot-mag {
  position: absolute;
  top: 8px;
  right: 8px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.9));
}
.my-work__screenshot-mag2 {
  top: 10px;
  right: 6px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
/*#endregion my work*/

/*#region contact*/
.contact-section {
  /* background: linear-gradient(var(--primary1) 0%, var(--primary2) 100%); */
  padding-bottom: 10rem;
}

.form-all {
  background-color: var(--gray700);
  font-size: inherit;
}
.form-label {
  color: white;
}

.form-header {
  font-weight: inherit;
  font-size: var(--h3-size);
}

/*#endregion contact*/

/*#region testimonial*/
.testimonial-section {
  background-color: var(--gray700);
  padding-bottom: 14rem;
  margin-top: 14rem;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  row-gap: 5rem;
  column-gap: 10rem;
}
@media all and (max-width: 1000px) {
  .testimonial-container {
    margin: 0 3rem;
  }
}

blockquote {
  font-family: var(--heading-font);
  font-size: var(--h4-size);
  color: white;
  flex-grow: 1;
  flex-basis: 45%;
  margin: 0;
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1000px) {
  blockquote {
    max-width: 800px;
  }
}

blockquote::before {
  content: '“';
  position: absolute;
  left: -45px;
  top: -20px;
  font-size: 10rem;
  color: var(--accent1);
}

blockquote > footer {
  font-family: var(--heading-font);
  font-size: var(--h5-size);
  color: var(--accent1);
  position: relative;
  margin-left: auto;
}

blockquote > footer::before {
  content: '—';
  left: -20px;
  top: 0;
  position: absolute;
}
/*#endregion testimonial*/

/*#region footer*/
.footer {
  background-color: var(--gray900);
  padding: 6rem 1rem;
}

.footer-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
}

.footer-logo {
  max-width: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
/*#endregion footer*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  z-index: 1000;
  padding: 5rem;
}
.lightbox {
  display: none;
}

#lightbox__interior {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;
}

#lightbox__interior__img-holder {
  display: flex;
}

.lightbox__img {
  max-height: 100vh;
  margin: auto;
}
.lightbox__arrow {
  position: absolute;
  top: max(50%, 200px);
  width: 11rem;
  padding: 100% 2rem;
  z-index: 1;
}
.lightbox__x {
  position: absolute;
  padding: 2rem;
  top: 0;
  width: 11rem;
  fill: white;
  right: 0;
}

#arrow-left {
  transform: translate(-80%, -50%);
}
#arrow-right {
  transform: translate(80%, -50%);
  right: 0;
}

.visible {
  display: block;
}
